hello-world-cicd/src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="hello-worldFlow" doc:id="a9093f4d-1c49-43cb-883b-1f5527b13977" >
		<logger level="INFO" doc:name="Logger" doc:id="ec27dd91-01f5-471f-ae1f-084178176de4" message='#["Hi Jign"]'/>
	</flow>
</mule>
