.tooling-apps-cache/app/hellospringfive/hellospringfive.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="496ba28c-aec9-4a4a-a281-94c127940947" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellospringfiveFlow" doc:id="602a2698-6873-4ea4-9edd-28273231451b" >
		<http:listener doc:name="Listener" doc:id="774018ea-03d6-4148-b6a5-46159317f1e4" config-ref="HTTP_Listener_config" path="r3"/>
		<logger level="INFO" doc:name="Logger" doc:id="ae5a798d-255e-4c1a-8bc0-6b76a6b570cd" message='#["JOHN JHONNY"]'/>
	</flow>
</mule>