hello-world1/src/main/mule/hello-world1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7fd254d8-6554-4488-a48a-c465c5cd96e2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-world1Flow" doc:id="66ca6504-fd41-4a67-bf0d-9530606643fa" >
		<http:listener doc:name="Listener" doc:id="bfde7f74-175d-4244-9451-ef31530fc274" config-ref="HTTP_Listener_config" path="t"/>
		<logger level="INFO" doc:name="Logger" doc:id="029cab59-84d7-4a83-aa28-6ad05e29e8c7" message='#["YOOOOO"]'/>
	</flow>
</mule>
