.tooling-apps-cache/app/github/github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b525c4e8-d458-4ad0-b782-bc59c44a3b68" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubFlow" doc:id="3658cc90-57b8-4701-b009-6640967b1a00" >
		<http:listener doc:name="Listener" doc:id="ee30a06b-ba9d-47bc-8dad-90aa00a74983" config-ref="HTTP_Listener_config" path="r"/>
		<logger level="INFO" doc:name="Logger" doc:id="2f059bf0-c6f3-4e3c-974c-08b8a09381f3" message='#["HELLO HARSHI"]'/>
	</flow>
</mule>